{% extends "base.html.twig" %}

{% block title %}Test 6 {% endblock %}

{% block body %}

<h1> TEST 6 </h1> 
<h3><a href="{{ path ('test4', {id: 2}) }}"> Go to Test 4 with ID 2 </a> </h3>


{% endblock %}

